<%= form_for(@sidecla) do |f| %>
  <% if @sidecla.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sidecla.errors.count, "error") %> prohibited this sidecla from being saved:</h2>

      <ul>
      <% @sidecla.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :keywords %><br>
    <%= f.text_field :keywords %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :renderto %><br>
    <%= f.text_field :renderto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
