<p id="notice"><%= notice %></p>

<p>
  <strong>Keywords:</strong>
  <%= @sidecla.keywords %>
</p>

<p>
  <strong>Title:</strong>
  <%= @sidecla.title %>
</p>

<p>
  <strong>Renderto:</strong>
  <%= @sidecla.renderto %>
</p>

<%= link_to 'Edit', edit_sidecla_path(@sidecla) %> |
<%= link_to 'Back', sideclas_path %>
