<%= form_for(@time_charge) do |f| %>
  <% if @time_charge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_charge.errors.count, "error") %> prohibited this time_charge from being saved:</h2>

      <ul>
      <% @time_charge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tariff_standard_id %><br>
    <%= f.number_field :tariff_standard_id %>
  </div>
  <div class="field">
    <%= f.label :s_charges %><br>
    <%= f.text_field :s_charges %>
  </div>
  <div class="field">
    <%= f.label :c_charges %><br>
    <%= f.text_field :c_charges %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
