<%= render 'head'%>

<div class="row">
  <div class="col-lg-12">
    <h2 class="heading"><i class="icon-random"></i>&nbsp; 充值卡信息</h2>
    <div class="widget-container fluid-height clearfix" style="padding: 10px;">

      <div class="col-lg-6">


<p>
  <span class="col-sm-2" style="text-align: right;">充值密码:</span>
  <%= @rechargeable_card.pwd %>
</p>

<p>
  <span class="col-sm-2" style="text-align: right;">制卡ID:</span>
  <%= @rechargeable_card.make_card_id %>
</p>

<p>
  <span class="col-sm-2" style="text-align: right;">卡号:</span>
  <%= @rechargeable_card.card_number %>
</p>

<p>
  <span class="col-sm-2" style="text-align: right;">金额:</span>
  <%= @rechargeable_card.card_sum %>
</p>

<p>
  <span class="col-sm-2" style="text-align: right;">有效期:</span>
  <%= @rechargeable_card.effective_time %>
</p>

<p>
  <span class="col-sm-2" style="text-align: right;">卡类型:</span>
  <% if @rechargeable_card.card_type == 1%>
      <%= "开卡截止"%>
  <% else%>
      <%= "制卡截止"%>
  <% end%>
</p>

<p>
  <span class="col-sm-2" style="text-align: right;">截止日期:</span>
  <%= @rechargeable_card.end_time.strftime("%Y-%m-%d") %>
</p>

<p>
  <span class="col-sm-2" style="text-align: right;">备注:</span>
  <%= @rechargeable_card.content %>&nbsp;
</p>

<p>
  <span class="col-sm-2" style="text-align: right;">是否赠送:</span>
  <% if @rechargeable_card.giving == 0%>
  <%= "否"%>
      <% else%>
      <%= "是"%>
      <% end%>
</p>

<p>
  <span class="col-sm-2" style="text-align: right;">卡失效:</span>
  <% if @rechargeable_card.failure == 0%>
      <%= "正常"%>

      <% else if @rechargeable_card.failure == 1%>
          <%= "已充值"%>
  <%else %>
      <%= "系统停用"%>
      <% end%>
  <% end%>
</p>

<%= link_to '编辑', edit_rechargeable_card_path(@rechargeable_card) ,class:"btn btn-primary-outline pull-right",'data-no-turbolink'=>true%>
<%= link_to '返回', {:controller => "make_cards", :action => "show",:id=> MakeCard.find_by(params[:id])},class:"btn btn-primary-outline pull-right" %>
</div>
  </div>
    </div>
        </div>