<p id="notice"><%= notice %></p>

<p>
  <strong>Local:</strong>
  <%= @sideadver.local %>
</p>

<p>
  <strong>Linkto:</strong>
  <%= @sideadver.linkto %>
</p>

<p>
  <strong>Isenabled:</strong>
  <%= @sideadver.isenabled %>
</p>

<%= link_to 'Edit', edit_sideadver_path(@sideadver) %> |
<%= link_to 'Back', sideadvers_path %>
