
<script type="text/javascript" language="javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img1')
                        .attr('src', e.target.result)
                //.width(300)
                //.height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>



<%= form_for(@advertisement) do |f| %>
  <% if @advertisement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advertisement.errors.count, "error") %> prohibited this advertisement from being saved:</h2>

      <ul>
      <% @advertisement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <table class="col-lg-12" style="text-align: center">

  <div class="field">
    <td style="margin-top: 10px;width:30px;text-align: right;padding: 10px;"><%= f.label :picstr %></td>
    <td><%= f.text_field :picstr, class:"form-control" %></td>
  </div>

  <div class="field">
    <td style="margin-top: 10px;width:30px;text-align: right;padding: 10px;"> <%= f.label :linkstr %><br></td>
    <td><%= f.text_field :linkstr, class:"form-control" %></td>
  </div>

    <div class="field">
      <td style="margin-top: 10px;width:30px;text-align: right;padding: 10px;"><%= f.label :avatar %><br></td>

      <td><%= f.file_field :avatar, :onchange => "readURL(this)"%></td>
    </div>

    <div>
      <img id="img1" src=<%= @advertisement.avatar.url%> />
    </div>

  <div class="field">
    <%= f.label :starttime %><br>
    <%= f.datetime_select :starttime %>
  </div>
  <div class="field">
    <%= f.label :endtime %><br>
    <%= f.datetime_select :endtime %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :types %><br>
    <%= f.number_field :types %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</table>