<p id="notice"><%= notice %></p>

<p>
  <strong>Picstr:</strong>
  <%= @advertisement.picstr %>
</p>

<p>
  <strong>Linkstr:</strong>
  <%= @advertisement.linkstr %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @advertisement.starttime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @advertisement.endtime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @advertisement.status %>
</p>

<p>
  <strong>Types:</strong>
  <%= @advertisement.types %>
</p>

<%= link_to 'Edit', edit_advertisement_path(@advertisement) %> |
<%= link_to 'Back', advertisements_path %>
