<p id="notice"><%= notice %></p>

<p>
  <strong>Pic str:</strong>
  <%= @advertisement.pic_str %>
</p>

<p>
  <strong>Link str:</strong>
  <%= @advertisement.link_str %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @advertisement.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @advertisement.end_time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @advertisement.status %>
</p>

<p>
  <strong>Type:</strong>
  <%= @advertisement.type %>
</p>

<%= link_to 'Edit', edit_advertisement_path(@advertisement) %> |
<%= link_to 'Back', advertisements_path %>
