<h1>Listing area_code_details</h1>

<table>
  <thead>
    <tr>
      <th>Province</th>
      <th>Name</th>
      <th>Area code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @area_code_details.each do |area_code_detail| %>
      <tr>
        <td><%= area_code_detail.province_id %></td>
        <td><%= area_code_detail.name %></td>
        <td><%= area_code_detail.area_code %></td>
        <td><%= link_to 'Show', area_code_detail %></td>
        <td><%= link_to 'Edit', edit_area_code_detail_path(area_code_detail) %></td>
        <td><%= link_to 'Destroy', area_code_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Area code detail', new_area_code_detail_path %>
