<div class="container fluid-height clearfix">
<%= render 'head'%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Phone num:</strong>
  <%= @record.phone_num_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @record.time %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @record.cost %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @record.start_time %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @record.tag %>
</p>

<p>
  <strong>User delete:</strong>
  <%= @record.user_delete %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
</div>