<div class="container fluid-height clearfix">
<%= render 'head'%>






<h2 class="heading">套餐设置</h2>


<div class="widget-container fluid-height clearfix">
    <table class="table table-hover table-bordered table-striped">
      <thead>
      <tr>
        <th></th>
        <th class="heading">套餐名</th>
        <th class="heading">备注</th>
        <th class="heading">负数额度</th>
        <th class="heading">操作</th>
      </tr>
      </thead>
    <% @tariff_standards.each do |tariff_standard| %>
      <tr>
        <td width="30px"><i class="heading icon-jpy"></i></td>
        <td class="hidden-xs"><%= tariff_standard.name %></td>
        <td><%= tariff_standard.content %></td>
        <td><%= tariff_standard.minus_amount %></td>
            <td width="100px" align="center">
              <%= link_to '', tariff_standard,  class:"icon-pencil usricons", title: "编辑" %>&nbsp;&nbsp;
              <%= link_to '', tariff_standard, method: :delete, data: { confirm: '确认删除？' },class:"icon-trash usricons", title:"删除" %></td>
      </tr>
      <% end %>
      </table>
    <br>
    <%= link_to ' 新建套餐', new_tariff_standard_path, class: "icon-plus btn btn-primary-outline pull-right","data-no-turbolink"=>true %>
  </div>






</div>