<%=render 'head' %>
<script type="text/javascript">
    function show(){
        document.getElementById("hidediv").style.display="none";
        document.getElementById("showdiv").style.display="block";
    }
    function show1(){
        document.getElementById("hidediv").style.display="block";
        document.getElementById("showdiv").style.display="none";
    }
    function showlablediv(){
        document.getElementById("lablediv").style.display="block";
        document.getElementById("formdiv").style.display="none";
    }
    function showformdiv(){
        document.getElementById("lablediv").style.display="none";
        document.getElementById("formdiv").style.display="block";
    }
</script>

<div class="row">
  <div class="col-lg-12">
    <h2 class="heading"><i class=" icon-retweet"></i>&nbsp; 套餐设置</h2>
    <div class="widget-container fluid-height clearfix" style="padding: 10px;">


      <!--左边样式-->
              <div class="col-lg-6">
                <h4 class="heading icon-jpy">&nbsp;套餐</h4><p></p>

                  <div id="lablediv" >

                    <p>
                      <span class="col-sm-2" style="text-align: right;">套餐名:</span>
                      <%= @tariff_standard.name %>
                    </p>

                    <p>
                      <span class="col-sm-2" style="text-align: right;">备注:</span>
                      <%= @tariff_standard.content %>
                    </p>

                    <p>
                      <span class="col-sm-2" style="text-align: right;">计费:</span>
                      <%= @tariff_standard.minus_amount %>
                    </p>
                    <p>

                    <div>
                      <a onclick="showformdiv()" class="btn btn-primary-outline"><i class="icon-pencil"></i>编辑套餐信息</a>
                    </div>
                  </div>

                <div id="formdiv" style="display: none;">
                  <%= render 'editform' %>
                  <input type="button" onclick="showlablediv()" value="取消" class="btn btn-primary-outline pull-left">
                </div>

              </div>
      <!--左边样式结束-->


      <!-- 右边样式-->
      <div class="col-lg-6 cts-leftborder-container">
                      <h4 class="heading">&nbsp;<i class="icon-jpy"></i>资费明细</h4>
                         <h9 class="heading">&nbsp;基础套餐信息</h9>
                                      <div class="panel" id ="hidediv">
                                        <% session[:tempid]=params[:id] %>
                                        <% session[:return_to]=request.fullpath %>
                                        <% if !(@tariff_standard.basic_charges && @tariff_standard.basic_charges.ids.count > 0) %>
                                             <%= form_for([@basic_charge, @tariff_standard.basic_charges.build]) do |f| %>
                                                <p>

                                                </p>
                                                <p>
                                                  <span class="col-sm-2" style="text-align: right;">直拨费用:</span>
                                                <%= f.text_field :s_charges ,class:"form-control states typeahead tt-query"%>
                                                 </p>
                                                <p>
                                                  <span class="col-sm-2" style="text-align: right;">回拨费用:</span>
                                                 <%= f.text_field :c_charges ,class:"form-control states typeahead tt-query"%>
                                                </p>
                                                <p>
                                                <%= f.submit :"确定", class:"btn btn-primary-outline pull-left"%>
                                                </p>
                                            <% end %>
                                      <% end %>
                                      </div>

                                      <div class="panel">
                                        <% @tariff_standard.basic_charges.each do |f| %>
                                            <% if f.created_at %>
                                                <p>
                                                  <span class="col-sm-2" style="text-align: right;">直拨费用:</span>
                                                  <%=  f.s_charges %>
                                                </p>

                                                <p>
                                                  <span class="col-sm-2" style="text-align: right;">回拨费用:</span>
                                                  <%=  f.c_charges %>
                                                </p>
                                                <p>
                                                <%= link_to 'Destroy', f, method: :delete, data: { confirm: 'Are you sure?' } %>
                                                </p>
                                                    <%end%>
                                            <% end %>
                                      </div>

                                      <div class="panel">
                                        <h4 class="heading">&nbsp;时段套餐</h4>
                                        <% @tariff_standard.time_charges.each do |f| %>
                                            <% if f.created_at %>
                                                <p>
                                                  <strong>直拨费用:</strong>
                                                  <%= f.s_charges %>
                                                </p>
                                                <p>
                                                  <strong>回拨费用:</strong>
                                                  <%= f.c_charges %>
                                                </p>
                                                <p>
                                                  <strong>开始时间:</strong>
                                                  <%= f.start_time %>
                                                </p>
                                                <p>
                                                  <strong>结束时间:</strong>
                                                  <%= f.end_time %>
                                                </p>
                                                <p>
                                                <%= link_to 'Destroy', f, method: :delete, data: { confirm: 'Are you sure?' } %>
                                                </p>
                                            <% end %>
                                        <% end %>
                                      </div>

                                      <div id = "showdiv" style="display: none;" class="panel">
                                        <% session[:tempid]=params[:id] %>
                                        <% session[:return_to]=request.fullpath %>
                                        <%= form_for([@time_charges, @tariff_standard.time_charges.build]) do |f| %>
                                            <p>
                                              <span class="col-sm-2" style="text-align: right;">直拨费用:</span>
                                              <%= f.text_field :s_charges,class:"form-control states typeahead tt-query" %>
                                            </p>
                                            <p>
                                              <span class="col-sm-2" style="text-align: right;">回拨费用:</span>
                                              <%= f.text_field :c_charges,class:"form-control states typeahead tt-query" %>
                                            </p>
                                            <p>
                                              <span class="col-sm-2" style="text-align: right;">开始时间:</span>
                                              <%= f.datetime_select :start_time %>
                                            </p>
                                            <p>
                                              <span class="col-sm-2" style="text-align: right;">开始时间:</span>
                                              <%= f.datetime_select :end_time %>
                                            </p>
                                            <p>
                                            <%= f.submit :"确定", class:"btn btn-primary-outline pull-right" %>
                                            <input type="button" onclick="show1()" value="取消" class="btn btn-primary-outline pull-right">
                                            </p>
                                        <% end %>
                                      </div>


                                      <div class="panel">

                                        <input type="button" onclick="show()" value="添加时段套餐" class="btn btn-info pull-left">

                                      </div>
                      </div>

      <!--右边样式结束-->
    </div>
  </div>
</div>