<%= form_for(@rechargeable_record) do |f| %>
  <% if @rechargeable_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rechargeable_record.errors.count, "error") %> prohibited this rechargeable_record from being saved:</h2>

      <ul>
      <% @rechargeable_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :preaidtime %><br>
    <%= f.datetime_select :preaidtime %>
  </div>
  <div class="field">
    <%= f.label :balance %><br>
    <%= f.text_field :balance %>
  </div>
  <div class="field">
    <%= f.label :types %><br>
    <%= f.number_field :types %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :endtime %><br>
    <%= f.datetime_select :endtime %>
  </div>
  <div class="field">
    <%= f.label :cardnum %><br>
    <%= f.text_field :cardnum %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
