<%=render 'head' %>
<h1>Listing rechargeable_records</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Preaidtime</th>
      <th>Balance</th>
      <th>Types</th>
      <th>Content</th>
      <th>Endtime</th>
      <th>Cardnum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rechargeable_records.each do |rechargeable_record| %>
      <tr>
        <td><%= rechargeable_record.user_id %></td>
        <td><%= rechargeable_record.preaidtime %></td>
        <td><%= rechargeable_record.balance %></td>
        <td><%= rechargeable_record.types %></td>
        <td><%= rechargeable_record.content %></td>
        <td><%= rechargeable_record.endtime %></td>
        <td><%= rechargeable_record.cardnum %></td>
        <td><%= link_to 'Show', rechargeable_record %></td>
        <td><%= link_to 'Edit', edit_rechargeable_record_path(rechargeable_record) %></td>
        <td><%= link_to 'Destroy', rechargeable_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rechargeable record', new_rechargeable_record_path %>
