<div class="container fluid-height clearfix">
<%=render 'head' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @rechargeable_record.user_id %>
</p>

<p>
  <strong>Preaidtime:</strong>
  <%= @rechargeable_record.preaidtime %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @rechargeable_record.balance %>
</p>

<p>
  <strong>Types:</strong>
  <%= @rechargeable_record.types %>
</p>

<p>
  <strong>Content:</strong>
  <%= @rechargeable_record.content %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @rechargeable_record.endtime.strftime("%Y-%m-%d")%>
</p>

<p>
  <strong>Cardnum:</strong>
  <%= @rechargeable_record.cardnum %>
</p>

<%= link_to 'Edit', edit_rechargeable_record_path(@rechargeable_record) %> |
<%= link_to 'Back', rechargeable_records_path %>
</div>