<%= render 'head'%>

<h2 class="heading">制卡</h2>
<div class="widget-container fluid-height clearfix">
<table  class="table table-hover table-bordered table-striped">
  <thead style="text-align: center">
    <tr>
      <th></th>
      <th class="heading">管理员</th>
      <th class="heading">卡类型</th>
      <th class="heading">批次号</th>
      <th class="heading">卡位长</th>
      <th class="heading">制卡时间</th>
      <th class="heading">卡金额</th>
      <th class="heading">制作数量</th>
      <th class="heading">备注</th>
      <th class="heading">是否可赠送</th>
      <th class="heading">操作</th>

    </tr>
  </thead>

  <tbody>
    <% @make_cards.each do |make_card| %>
      <tr>
        <td width="30px"><i class="heading icon-credit-card "></i></td>
        <td class="hidden-xs"><%= make_card.admin_id %></td>
        <td><%= make_card.card_type %></td>
        <td><%= make_card.batch %></td>
        <td><%= make_card.card_len %></td>
        <td><%= make_card.time %></td>
        <td><%= make_card.card_sum %></td>
        <td><%= make_card.amount %></td>
        <td><%= make_card.content %></td>
        <td><%= make_card.giving %></td>

       <td width="100px" align="center"><%= link_to "", make_card,  class:"icon-eye-open usricons", title: "显示" %>
        <%= link_to "", edit_make_card_path(make_card),  class:"icon-pencil usricons", title: "编辑" ,'data-no-turbolink'=>true%>
        <%= link_to '', make_card, method: :delete, data: { confirm: '确认删除?' } ,class:"icon-trash usricons", title:"删除" %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '制作新卡', new_make_card_path, class: "icon-plus btn btn-primary-outline pull-right",'data-no-turbolink'=>true %>
</div>