


<%= render 'head'%>



    <h2 class="heading"><i class="icon-random"></i>&nbsp; 制卡信息</h2>
    <div class="widget-container clearfix">

      <!--左边样式-->
      <div class="col-md-3 fluid-height ">



          <p>
            <div class="col-md-3" style="text-align: right;">管理员:</div>
        <% if @admin %>
            <%= @admin.name%>
         <% else%>
            &nbsp;
        <% end%>
          </p>

          <p>
            <div class="col-md-3" style="text-align: right;">卡类型:</div>

        <%if @make_card.card_type==1 %>
            <%= "开卡截至" %>
            <% else%>
            <%= "制卡截至" %>
            <% end%>
          </p>

          <p>
            <span class="col-md-3" style="text-align: right;">批次号:</span>
            <%= @make_card.batch %>&nbsp;
          </p>

          <p>
            <span class="col-sm-3" style="text-align: right;">卡位长:</span>
            <%= @make_card.card_len %>&nbsp;
          </p>

          <p>
            <span class="col-sm-3" style="text-align: right;width: auto">制卡时间:</span>
            <%= @make_card.time %>&nbsp;
          </p>

          <p>
            <span class="col-sm-3" style="text-align: right;">卡金额:</span>
            <%= @make_card.card_sum %>&nbsp;
          </p>

          <p>
            <span class="col-sm-3" style="text-align: right;">数量:</span>
            <%= @make_card.amount %>
          </p>

          <p>
            <div class="col-sm-3" style="text-align: right;">备注:</div>
            <%=  @make_card.content %>&nbsp;
          </p>

          <p>
            <span class="col-sm-3" style="text-align: right;">可赠送:</span>

            <%if @make_card.giving == 1%>

                <%="是"%>
                <%else%>
                <%="否"%>
              <%end%>
          </p>


      </div>
      <!-- 左边样式结束-->

      <!-- 右边样式-->
      <div class="col-md-9 cts-leftborder-container" >


            <%=form_tag ({ controller: "rechargeable_cards", action:"makecard"}),method:"post" ,class:"makecard" do %>
            <fieldset>
                  <%= hidden_field_tag('id',params[:id]=@make_card.id)%>
                 <%= hidden_field_tag('card_type',params[:card_type]=@make_card.card_type)%>
                  <%= hidden_field_tag('batch',params[:batch]=@make_card.batch)%>
                  <%= hidden_field_tag('card_len',params[:card_len]=@make_card.card_len)%>
                  <%= hidden_field_tag('time',params[:time]=@make_card.time)%>
                  <%= hidden_field_tag('effective',params[:effective]='30')%>
                  <%= hidden_field_tag('card_sum',params[:card_sum]=@make_card.card_sum)%>
                  <%= hidden_field_tag('amount',params[:amount]=@make_card.amount)%>
                  <%= hidden_field_tag('giving',params[:giving]=@make_card.giving)%>
            <div class="form-group heading"> 有效期 <%= text_field_tag('effectivetime',params[:effectivetime],class:"form-control")%></div>
            <%= submit_tag "制卡",class:"btn btn-primary-outline" %>
              </fieldset>
<%end%>
           剩余可制卡数<%= @lesscarnum%>


        <table class="table table-hover  table-striped">

          <tr>
            <th></th>
            <th class="heading">密码</th>
            <th class="heading">卡号</th>
            <th class="heading">金额</th>
            <th class="heading">有效期</th>
            <th class="heading">卡类型</th>
            <th class="heading">截止日期</th>
            <th class="heading">可赠送</th>
            <th class="heading">失效</th>
            <th></th>
            <th></th>

          </tr>

              <% @rechargeable_cards.each do |rechargeable_card| %>
                  <tr>
                    <td><i class=" icon-credit-card "></i></td>
                    <td><%= rechargeable_card.pwd %></td>
                    <td><%= rechargeable_card.card_number %></td>
                    <td><%= rechargeable_card.card_sum %></td>
                    <td><%= rechargeable_card.effective_time %></td>
                    <% if rechargeable_card.card_type==1%>
                    <td><%= "开卡截至"%></td>
                    <% else%>
                    <td><%= "制卡截至"%></td>
          <%end%>
                    <td><%= rechargeable_card.end_time %></td>
                    <% if rechargeable_card.giving==1%>
                    <td><%= "是"%></td>
                        <% else%>
                        <td><%= "否"%></td>
                    <%end%>
                    <% if rechargeable_card.failure==0%>
                        <td><%= "正常"%></td>
                    <% else%>
                        <td><%= "失效"%></td>
                    <%end%>
                    <td><%= link_to '', edit_rechargeable_card_path(rechargeable_card),'data-no-turbolink'=>true ,class:"icon-pencil usricons", title: "编辑" %></td>
                    <td><%= link_to '', rechargeable_card, method: :delete, data: { confirm: '确认删除?' } ,class:"icon-trash usricons", title:"删除" %></td>
                  </tr>
                  <p></p>
              <% end %>

          </table>
              <div class="digg_pagination">
                 <%= will_paginate @rechargeable_cards, :previous_label => '上一页', :next_label => '下一页' %>
              </div>




      </div>

      <!-- 右边样式结束-->

    </div>


