


<%= render 'head'%>

<div class="row">
  <div class="col-lg-12">
    <div class="widget-container fluid-height clearfix">

      <!--左边样式-->
      <div class="col-sm-3">
        <div class="list-group">


          <p id="notice"><%= notice %></p>

          <p>
            <strong>Admin:</strong>
            <%= @make_card.admin_id %>
          </p>

          <p>
            <strong>Card type:</strong>
            <%= @make_card.card_type %>

          </p>

          <p>
            <strong>Batch:</strong>
            <%= @make_card.batch %>
          </p>

          <p>
            <strong>Card len:</strong>
            <%= @make_card.card_len %>
          </p>

          <p>
            <strong>Time:</strong>
            <%= @make_card.time %>
          </p>

          <p>
            <strong>Card sum:</strong>
            <%= @make_card.card_sum %>
          </p>

          <p>
            <strong>Amount:</strong>
            <%= @make_card.amount %>
          </p>

          <p>
            <strong>Content:</strong>
            <%=  @make_card.content %>
          </p>

          <p>
            <strong>Giving:</strong>
            <%= @make_card.giving %>
          </p>

        </div>
      </div>
      <!-- 左边样式结束-->
      <!-- 右边样式-->
      <div class="col-sm-9">
        <div class="widget-container fluid-height">
          <div class="widget-content">
            <div class="panel-group" id="accordion">


            <%=form_tag ({ controller: "rechargeable_cards", action:"makecard"}),method:"post"  do %>
                  <%= hidden_field_tag('id',params[:id]=@make_card.id)%>
                 <%= hidden_field_tag('card_type',params[:card_type]=@make_card.card_type)%>
                  <%= hidden_field_tag('batch',params[:batch]=@make_card.batch)%>
                  <%= hidden_field_tag('card_len',params[:card_len]=@make_card.card_len)%>
                  <%= hidden_field_tag('time',params[:time]=@make_card.time)%>
                  <%= hidden_field_tag('effective',params[:effective]='30')%>
                  <%= hidden_field_tag('card_sum',params[:card_sum]=@make_card.card_sum)%>
                  <%= hidden_field_tag('amount',params[:amount]=@make_card.amount)%>
                  <%= hidden_field_tag('giving',params[:giving]=@make_card.giving)%>
            <%= submit_tag "制卡" %>
<%end%>



              <% @rechargeable_cards.each do |rechargeable_card| %>
                  <tr>
                    <td width="30px"><i class=" icon-credit-card "></i></td>
                    <td class="hidden-xs"><%= rechargeable_card.pwd %></td>
                    <td><%= rechargeable_card.make_card_id %></td>
                    <td><%= rechargeable_card.card_number %></td>
                    <td><%= rechargeable_card.card_sum %></td>
                    <td><%= rechargeable_card.effective_time %></td>
                    <td><%= rechargeable_card.card_type %></td>
                    <td><%= rechargeable_card.end_time %></td>
                    <td><%= rechargeable_card.content %></td>
                    <td><%= rechargeable_card.giving %></td>
                    <td><%= rechargeable_card.failure %></td>
                    <%= link_to '', edit_rechargeable_card_path(rechargeable_card),'data-no-turbolink'=>true ,class:"icon-pencil usricons", title: "编辑" %></td>
                    <td><%= link_to '', rechargeable_card, method: :delete, data: { confirm: '确认删除?' } ,class:"icon-trash usricons", title:"删除" %></td>
                  </tr>
                  <p></p>
              <% end %>

              <div class="digg_pagination">

              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- 右边样式结束-->

    </div>
  </div>
</div>
