<div class="col-lg-9">
  <div class="widget-container fluid-height clearfix">
    <h3 class="heading">留言版</h3>
    <%= form_for(@sidemessage,html:{class:"form-horizontal new_sidemessage"} ) do |f| %>
        <fieldset>



              <div class="form-group">
                <div class="control-label col-md-2">
                <em style="color: red">*</em><%= f.label :联系人 %>
                </div>
                <div class="col-md-7">
                <%= f.text_field :contact,class:"form-control" %>
                  </div>
              </div>



              <div class="form-group">
                <div class="control-label col-md-2">
                  <em style="color: red">*</em><%= f.label :联系方式 %>
                </div>
                <div class="col-md-7">
                <%= f.text_field :tel,class:"form-control" %>
                </div>
              </div>

              <div class="form-group">
                <div class="control-label col-md-2">
                  <em style="color: red;font-size: 15px;">*</em><%= f.label :留言内容 %>
                </div>
                <div class="col-md-7">
                <%= f.text_area :content,class:"form-control",rows:8%>
                </div>
              </div>



            <div class="actions" style="margin-right: 200px;">
                <%= f.submit :"提交" ,class:"btn btn-primary-outline pull-right"%>
              </div>



        </fieldset>
    <% end %>

  </div>
</div>


<div class="widget-container fluid-height col-lg-3">
　　<div class="widget-container fluid-height clearfix" style="background-color: aqua">
  asdadsa
  </div>
  　<div class="widget-container fluid-height clearfix" style="background-color: #8080FF">
  asdadsa
</div>
  　<div class="widget-container fluid-height clearfix" style="background-color: darkgreen">
  asdadsa
</div>
  <%= render'contact' %>
</div>