<%= render 'head'%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Give cost:</strong>
  <%= @cfg.give_cost %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @cfg.company_name %>
</p>

<p>
  <strong>Sales tel:</strong>
  <%= @cfg.sales_tel %>
</p>

<p>
  <strong>Service tel:</strong>
  <%= @cfg.service_tel %>
</p>

<p>
  <strong>Gateway:</strong>
  <%= @cfg.gateway %>
</p>

<p>
  <strong>Content:</strong>
  <%= @cfg.content %>
</p>

<%= link_to 'Edit', edit_cfg_path(@cfg) %> |
<%= link_to 'Back', cfgs_path %>
