<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @pub.title %>
</p>

<p>
  <strong>Types:</strong>
  <%= @pub.types %>
</p>

<p>
  <strong>Content:</strong>
  <%= @pub.content %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @pub.starttime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @pub.endtime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @pub.status %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @pub.sort %>
</p>

<%= link_to 'Edit', edit_pub_path(@pub) %> |
<%= link_to 'Back', pubs_path %>
